.card {
    margin: 1rem;
    padding: var(--myPadding);

    background-color: #EBEAEA;
    border-radius: var(--myPadding);

    width: 220px;
    height: 280px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 300ms;
}

.card:hover {
    box-shadow: 10px 5px 5px red;
}

.card > img {
    width: 100%;
    height: 100%;
    color: white;
}