.headerComp {
    background-color: var(--headerBg);
    font-family: 'DM Sans', sans-serif;
    color: white;

    display: flex;
    align-items: center;
    padding-left: 20%;
}

.headText {
    font-size: 2.8rem;
}

.rtl-head {
    unicode-bidi: bidi-override;
    direction: rtl;
}